@use "../../sass/" as *;

.counter {
  background-color: $back-second;
  @include grid(4, 12);
  padding-bottom: rem(150);
  @include tablet {
    margin-top: rem(-5);
    padding: rem(200) rem(50);
    padding-right: rem(55);
  }
}

@media only screen and (max-width: 1274px) {
  .counter {
    display: none;
  }
}
