@use "../../sass/" as *;

.last-comp {
  background-color: $back-second;
  padding-left: rem(250);
  padding-right: rem(250);
  padding-bottom: rem(150);
  &__content {
    &__divider {
      width: rem(90);
      height: rem(4);
      background-color: $clr-green;
      border-radius: rem(2);
      margin-bottom: rem(5);
    }
    @include flex(center, center, 15);
    flex-direction: column;
    background-color: $back-global;
    padding: rem(80) 4.6rem;
    border-radius: rem(40);
    > h1 {
      font-weight: 800;
      font-size: rem(55);
      letter-spacing: rem(4.5);
      margin-bottom: rem(10);
      color: $clr-white;
    }
    > p {
      text-align: center;
      font-size: rem(20);
      color: $clr-light;
      line-height: 1.6;
      letter-spacing: rem(1.2);
      margin-bottom: rem(50);
    }
  }
  @include tablet {
    margin-top: rem(-5);
    padding-right: rem(50);
    padding-left: rem(50);
  }
  @include mobile {
    display: none;
  }
}
